.post {
    background-color: bisque;
    padding: 20px;
    border: 1px solid;
    margin-bottom: 5px;
}

.btn-delete {
    margin-top: 5px;
    background-color: aqua;
    outline: none;
    border: 1px solid;
    cursor: pointer;
}